<section class="content-header">
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <strong>{{ title }}</strong>
                        {{ subtitle }}
                    </a>
                </div>
                <div class="navbar-collapse">
                </div>
            </div>
        </nav>
    </div>
</section>