{% extends base_template %}
{% import 'SonataAdminBundle:CRUD:base_show_macro.html.twig' as show_helper %}

{% block show %}
    <section class="content">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">
                        Crear Receta
                    </h4>
                </div>
            </div>
        </div>
    </section>
{% endblock %}