{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {# @var object \App\Entity\AppOrdenServicio #}
    {% if object.despachoAlmacenOrdenServicio %}
        {% if object.despachoAlmacenOrdenServicio.montaje %}
            <span class="label label-warning">Pendiente a Entregar</span>
        {% else %}
            <span class="label label-info">Despachadas</span>
        {% endif %}
    {% else %}
        {% if object.solicitudTallado %}
            <span class="label label-warning">Solicitud de Tallado</span>
        {% else %}
            <span class="label label-default">Orden de stock</span>
        {% endif %}
    {% endif %}
{% endblock %}