{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-4">
    <div class="box box-success">
        <div class="box-header">
            <h4 class="box-title">Cambiar contraseña</h4>
        </div>
        <div class="box-body">
            <div class="sonata-ba-collapsed-fields">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-success"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>