{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-4">
    <div class="box box-success">
        <div class="box-header">
            <h4 class="box-title">Datos del perfil</h4>
        </div>
        <div class="box-body">
            <div class="fos_user_user_show">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            </div>
        </div>
    </div>
</div>
</div>
