{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.producto is defined %}
            $ {{ object.producto.precio|money }}
        {% elseif object.precio %}
            $ {{ object.precio|money }}
        {% endif %}
    </div>
{% endblock %}