<style>
    #table-producto th{
        text-align: center;
        vertical-align: middle;
    }
</style>
<h4>Informe de Recepción # {{ object.id }}</h4>
<table id="table-producto" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th rowspan="2">Código</th>
        <th rowspan="2">Descripción</th>
        <th rowspan="2">Cantidad</th>
        <th colspan="2">Existencia</th>
        <th colspan="2">Precio</th>
        <th colspan="2">Importe</th>
    </tr>
    <tr>
        <th>Inicial</th>
        <th>Final</th>
        <th>Costo</th>
        <th>Venta</th>
        <th>Costo</th>
        <th>Venta</th>
    </tr>
    </thead>
    <tbody>
    {% set productos = [
        object.accesorios,
        object.armaduras,
        object.cristales,
        object.tinteCristales,
        object.lupas,
    ] %}

    {% set importe_total_costo = 0 %}
    {% set importe_total_venta = 0 %}
    {% for producto in productos %}
        {% for value in producto %}
            {% include '::Admin/Almacen/_producto_tr.html.twig' %}
            {% set importe_total_costo = importe_total_costo + (value.cantidad * value.producto.producto.precioCosto) %}
            {% set importe_total_venta = importe_total_venta + (value.cantidad * value.producto.producto.precio) %}
        {% endfor %}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="7" style="text-align: right">Total</th>
        <th>$ {{ importe_total_costo| number_format(2, '.', ',') }}</th>
        <th>$ {{ importe_total_venta| number_format(2, '.', ',') }}</th>
    </tr>
    </tfoot>
</table>
<a href="{{ admin.generateUrl('save_confirmar_factura',{'id':object.id,'redirectTo':redirectTo}) }}"
   class="btn btn-sm btn-success" title="Confirmar">
    <i class="fa fa-plus-square" aria-hidden="true"></i>
    Confirmar
</a>