<a href="{{ admin.generateUrl('export_pdf',{"id":object.id}) }}" class="btn btn-sm btn-default view_link"
   title="Imprimir" target="_blank">
    <i class="fa fa-print" aria-hidden="true"></i>
    Imprimir
</a>