services:
    sonata.user.admin.office:
        class: App\Admin\OfficeAdmin
        arguments: [~, App\Entity\SecurityOffice, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: offices }

    app.menu_listener:
        class: App\EventListener\MenuBuilderListener
        tags:
            - { name: kernel.event_listener, event: sonata.admin.event.configure.menu.sidebar, method: addMenuItems }
