<li>
    <a class="sonata-action-element" href="{#{{ admin.generateUrl('confirmar_factura') }}#}" style="color: red;">
        {% set lastElement = admin.lista_pendiente|keys|last %}
        {% for key, count in admin.lista_pendiente %}
            <i class="fa fa-th-list"></i> {{ key }} ({{ count }})
            {% if lastElement !=  key %}
                , &nbsp;
            {% endif %}
        {% endfor %}
    </a>
</li>