{# @var object \App\Entity\AppReceta #}
{% if object.ordenServicio is null %}
    <a href="{{ path('admin_app_appordenservicio_create',{"receta":object.id}) }}"
       class="btn btn-sm btn-success view_link" title="Crear receta">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Crear Orden
    </a>
{% else %}
    <a href="#" onclick="alert('En desarrollo')"
       class="btn btn-sm btn-default view_link" title="Crear receta">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        Ver Orden
    </a>
{% endif %}