{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {# @var object \App\Entity\AppReceta #}
    <div>
        {{ object.listaEspejuelo.toArray|ArrayToList }}
    </div>
{% endblock %}