{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% include '::Admin/producto/list/_number.html.twig' with {'number': object.esfera} %}
    </div>
{% endblock %}