services:
    sonata.admin.app.clasificador:
        class: App\Admin\AppClasificadorAdmin
        arguments: [~, App\Entity\AppClasificador, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: app.clasificadores }
        calls:
            - [setTranslationDomain,['app']]
    sonata.admin.app.movimiento_almacen:
        class: App\Admin\AppMovimientoAlmacenAdmin
        arguments: [~, App\Entity\AppMovimientoAlmacen, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: app.movimiento_almacen }
        calls:
            - [setTranslationDomain,['app']]
    sonata.admin.app.sub_mayor_producto:
        class: App\Admin\AppSubMayorProductoAdmin
        arguments: [~, App\Entity\AppSubmayorProducto, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: app.sub_mayor_producto }
        calls:
            - [setTranslationDomain,['NomencladorBundle']]
    sonata.admin.app.trabajador:
        class: App\Admin\AppTrabajadorAdmin
        arguments: [~, App\Entity\AppTrabajador, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: app.trabajadores }
        calls:
            - [setTranslationDomain,['app']]
    sonata.admin.app.paciente:
        class: App\Admin\AppPacienteAdmin
        arguments: [~, App\Entity\AppPaciente, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: app.pacientes }
        calls:
            - [setTranslationDomain,['app']]