<a href="{{ admin.generateUrl('crear_receta',{"id":object.id}) }}" class="btn btn-sm btn-default view_link" title="Crear receta">
    <i class="fa fa-sticky-note" aria-hidden="true"></i>
    {#    Crear receta#}
</a>
<a href="{{ path('admin_app_appreceta_lista_receta_paciente',{"id":object.id}) }}" class="btn btn-sm btn-default view_link"
   title="Lista de receta">
    <i class="fa fa-list" aria-hidden="true"></i>
{#    Listar receta#}
</a>
